/*reseteo los estilos de el navegador*/

*{
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header{
    background:rgb(223, 85, 223);
    color:white;
    height: 80px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo{ 
    text-transform: uppercase;
}

.logo a {
    color: white;
    text-decoration: none;
}

.navbar{
    background-color: rgb(79, 79, 216);
    color: rgb(103, 185, 86);
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul{
    list-style: none;
    text-align: center;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: aquamarine;
}
.navbar ul li a:hover{
    background-color: white;
    color: blue;

}

.banner-top{
    padding: 20px;
    display: flex;
    justify-content: center;¨¨
}

#contenedor{
    width: 90%;
    margin: auto;
    display: flex;
    

}

.body{
    background: tomato;
}

#contenedor img{
    width: 100;
}

.primero{
    padding: 2%;
    
}
.segundo{
    padding: 2%;
    
}
.tercero{
    padding: 2%;
    
}

.footer{
    margin-top: 25px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.footer ul{
    list-style: none; 
}

.data{
    margin-top: 10px;
    background:rgb(149, 192, 253);
    color: black;
    

}

.map{
    margin-top: 10px;
    width: 60%;
}

@media screen and (min-width:660px) and (max-width:989){
    .body{
        background: yellow;
    }
    .logo{
        width: 100%;
        text-align: center;}
}
.banner-top{
    display: none;
}

.primero{
    width: 100%;
}

.primero figure{
    height: 300px;
    overflow: hidden;
}

.segundo{
    width: 50%;
}

.tercero{
    width: 50%;
}

@media screen and (min-width:990px)and (max-width:1900) {
    .body{
        background: rgb(14, 17, 145);
    }
}




/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }